<section class="content">
  <div class="row">
    {{#each episodes as |episode|}}
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">{{episode.show}}</h4>
            <h6 class="card-subtitle text-muted">{{episode.title}} - {{episode.what}}</h6>
          </div>
          <div class="fill" style="background: url({{episode.defaultImage}})"></div>
          <div class="card-block">
            <div class="links">
{{!--               <a href="#" {{action "play" episode}} class="nav-link {{if episode.noMagnet 'disabled'}}">
                <i class="fa fa-play-circle-o fa-fw"></i>
              </a> --}}

              {{#link-to "user.play" episode.id}}
                <i class="fa fa-play-circle-o fa-fw"></i>
              {{/link-to}}
              <a href="#" {{action "reload" episode}} class="nav-link {{if episode.isLoading 'disabled'}}">
                <i class="fa fa-refresh fa-fw {{if episode.isLoading 'fa-spin'}}"></i>
              </a>
              <a href="#" {{action "seen" episode}} class="nav-link {{if episode.isNotVisible 'disabled'}}">
                <i class="fa fa-eye fa-fw"></i>
              </a>
              <a href="#" {{action "remove" episode}} class="nav-link {{if episode.isNotVisible 'disabled'}}">
                <i class="fa fa-trash fa-fw"></i>
              </a>
              <a href="#" {{action "download" episode}} class="nav-link {{if episode.noMagnet 'disabled'}}">
                <i class="fa fa-cloud-download fa-fw"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</section>