<section class="content">
  <div class="row">
    <div class="list-group">
      {{#each episodes as |episode|}}
        <span class="list-group-item episode">
          <h4 class="list-group-item-heading">
            {{episode.show}}
          </h4>
          <p class="list-group-item-text">
            {{#unless episode.isNotVisible}}
              {{#link-to "user.index.info" episode class="more"}}
                <i class="fa fa-ellipsis-v"></i>
              {{/link-to}}
            {{/unless}}
            {{episode.title}} - {{episode.what}}
            {{#if episode.isStarted}}
              - {{episode.seenInPercent}}%
            {{/if}}
          </p>

          {{#if episode.isNotVisible}}
            <a href="#" {{action "restore" episode}} class="pull-right play-episode">
              <i class="fa fa-refresh fa-3x"></i>
            </a>
          {{else}}
            {{#if episode.isLoading}}
              <i class="fa fa-spinner fa-spin fa-3x nav-link play-episode pull-right disabled"></i>
            {{else}}
              {{#if episode.magnets.length}}
                <a class="pull-right play-episode nav-link" href="#" {{action "play" episode}}>
                  <i class="fa fa-play-circle-o fa-3x"></i>
                </a>
              {{else}}
                <i class="fa fa-play-circle-o fa-3x nav-link play-episode pull-right disabled"></i>
              {{/if}}
            {{/if}}
          {{/if}}
        </span>
      {{/each}}
    </div>
  </div>
</section>