<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-default">
        <div class="box-body">
          <table class="table">
            <thead>
              <tr>
                <th>Show</th>
                <th>Episode</th>
                <th>Title</th>
                <th>Aired</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {{#each episodes as |episode|}}
                <tr>
                  <td>{{truncate-multiline text=episode.show}}</td>
                  <td>{{episode.what}}</td>
                  <td>{{episode.title}}</td>
                  <td>{{moment-from-now episode.firstAired}}</td>
                  <td>
                    <div class="pull-right">
                      <button {{action "download" episode}} class="btn btn-sm btn-default" disabled={{episode.noMagnet}} target="_blank">
                        <i class="fa fa-download"></i>
                      </button>
                      <button disabled={{episode.isNotVisible}} class="btn btn-sm btn-default" {{action "remove" episode}}>
                        <i class="fa fa-times"></i>
                      </button>
                      <button disabled={{episode.isNotVisible}} class="btn btn-sm btn-default" {{action "seen" episode}}>
                        <i class="fa fa-eye"></i>
                      </button>
                      <button disabled={{episode.isLoading}} class="btn btn-sm btn-default" {{action "reload" episode}}>
                        <i class="fa fa-refresh"></i>
                      </button>

                      <button disabled={{episode.loadingPopcorn}} disabled={{episode.noMagnet}} class="btn btn-sm btn-default" {{action "play" episode}}>
                        <i class="fa fa-play"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>