<section class="content">
  <div class="row">
    <div class="list-group">
      {{#each episodes as |episode|}}
        <span class="list-group-item">
          <h4 class="list-group-item-heading">{{episode.show}}</h4>
          <p class="list-group-item-text">
            {{#unless episode.isNotVisible}}
              {{#link-to "user.index.info" episode}}
                <i class="fa fa-ellipsis-v" style="color: black"></i>
              {{/link-to}}
            {{/unless}}
            {{episode.title}} - {{episode.what}}
          </p>
          {{#if episode.isNotVisible}}
            <a href="#" {{action "restore" episode}} class="pull-right play-episode">
              <i class="fa fa-refresh fa-3x"></i>
            </a>
          {{else}}
            {{#link-to "play" episode.id class="pull-right play-episode"}}
              <i class="fa fa-play-circle-o fa-3x"></i>
            {{/link-to}}
          {{/if}}
        </span>
      {{/each}}
    </div>
  </div>
</section>