<section class="content">
  <div class="row">
    <div class="list-group" style="font-color: grey">
      {{#each episodes as |episode|}}
        <span class="list-group-item episode">
          <div style="height: 55px; float: left;width: 76px;overflow: hidden;margin-right: 8px;border-radius: 4px;">
            {{#if episode.image}}
              <img style="height: 55px;" src="{{episode.image}}" alt="" />
            {{else}}
              <img style="height: 55px;" src="images/tv.png" alt="" />
            {{/if}}
          </div>
          <h4 class="list-group-item-heading">
            {{episode.show}}
            -
            {{episode.what}}
          </h4>
          <p class="list-group-item-text" style="opacity: 0.6">
            <a href="#" {{action "reload" episode}} class="more {{if episode.isLoading 'disabled'}} {{if episode.isNotVisible 'disabled'}}">
              <i class="fa fa-refresh fa-fw {{if episode.isLoading 'fa-spin'}}"></i>
            </a>
            <a href="#" {{action "seen" episode}} class="more {{if episode.isNotVisible 'disabled'}}" style="font-size: 121%; position: relative; top: 1px;">
              <i class="fa fa-eye fa-fw"></i>
            </a>
            <a href="#" {{action "remove" episode}} class="more {{if episode.isNotVisible 'disabled'}}">
              <i class="fa fa-trash fa-fw"></i>
            </a>
            <a href="#" {{action "download" episode}} class="more {{if episode.noMagnet 'disabled'}} {{if episode.isNotVisible 'disabled'}}">
              <i class="fa fa-cloud-download fa-fw"></i>
            </a>
            <a href="#" {{action "magnets" episode}} class="more {{if episode.noMagnets 'disabled'}} {{if episode.isNotVisible 'disabled'}}">
              <i class="fa fa-magnet fa-fw"></i>
            </a>
            <a href="#" {{action "flushMagnets" episode}} class="more {{if episode.noMagnets 'disabled'}} {{if episode.isNotVisible 'disabled'}}">
              <i class="fa fa-flash fa-fw"></i>
            </a>
            -
            <span style="font-weight: 600">{{episode.title}}</span>
            -
            <span style="font-weight: 600">{{moment-from-now episode.firstAired}}</span>
          </p>

          {{#if episode.isNotVisible}}
            <a href="#" {{action "restore" episode}} class="pull-right play-episode">
              <i class="fa fa-refresh fa-3x"></i>
            </a>
          {{else}}
            {{#if episode.isLoading}}
              <i class="fa fa-spinner fa-spin fa-3x nav-link play-episode pull-right disabled"></i>
            {{else}}
              {{#if episode.magnets.length}}
                <a class="pull-right play-episode nav-link" href="#" {{action "play" episode}}>
                  <i class="fa fa-play-circle-o fa-3x"></i>
                </a>
              {{else}}
                <i class="fa fa-play-circle-o fa-3x nav-link play-episode pull-right disabled"></i>
              {{/if}}
            {{/if}}
          {{/if}}
        </span>
      {{/each}}
    </div>
  </div>
</section>