<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-default">
        <div class="box-body">
          <table class="table table-striped">
            <tbody>
              {{#each episodes as |episode|}}
                <tr>
                  <td>{{truncate-multiline text=episode.show}}</td>
                  <td>{{episode.what}}</td>
                  <td>{{episode.title}}</td>
                  <td>{{moment-from-now episode.firstAired}}</td>
                  <td>
                    <div class="pull-right links">
                      {{#unless episode.noMagnet}}
                        <a {{action "download" episode}} href="#">
                          <i class="fa fa-download"></i>
                        </a>
                      {{/unless}}
                      {{#unless episode.isNotVisible}}
                        <a {{action "remove" episode}} href="#">
                          <i class="fa fa-times"></i>
                        </a>

                        <a {{action "seen" episode}} href="#">
                          <i class="fa fa-eye"></i>
                        </a>
                      {{/unless}}
                      {{#unless episode.isLoading}}
                        <a {{action "reload" episode}} href="#">
                          <i class="fa fa-refresh"></i>
                        </a>
                      {{/unless}}
                      {{#unless episode.loadingPopcorn}}
                        {{#unless episode.noMagnet}}
                          <a {{action "play" episode}} href="#">
                            <i class="fa fa-play"></i>
                          </a>
                        {{/unless}}
                      {{/unless}}
                    </div>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>