<div class="load-player">
  {{#if loading}}
    <i class="fa fa-spin fa-spinner fa-5x loading"></i>
  {{else}}
    <div class="status">
      <span>
        <strong>{{episode.shortTitle}}</strong>
        <br>
        {{#if language}}
          with
          <strong>{{language}}</strong>
          subtitle
          <br>
        {{/if}}
        has been started in VLC.

        <div>
          Downloaded <strong>{{downloaded}}</strong> out of <strong>{{totalSize}}</strong>
        </div>
      </span>
    </div>
    <br>
    <button class="btn btn-lg btn-secondary" {{action "back"}} type="button" name="button">Go back</button>
    <button class="btn btn-lg btn-secondary" disabled={{disabledVLCButton}} {{action "openVLC"}} type="button" name="button">Open VLC again</button>
  {{/if}}
</div>