{{#info-bar action="closeInfoBar"}}
  <a href="#" {{action "reload"}} class="nav-link {{if model.isLoading 'disabled'}}">
    <i class="fa fa-refresh fa-fw fa-3x {{if model.isLoading 'fa-spin'}}"></i>
  </a>
  <a href="#" {{action "seen"}} class="nav-link {{if model.isNotVisible 'disabled'}}">
    <i class="fa fa-eye fa-fw fa-3x"></i>
  </a>
  <a href="#" {{action "remove"}} class="nav-link {{if model.isNotVisible 'disabled'}}">
    <i class="fa fa-trash fa-fw fa-3x"></i>
  </a>
  <a href="#" {{action "download"}} class="nav-link {{if model.noMagnet 'disabled'}}">
    <i class="fa fa-cloud-download fa-fw fa-3x"></i>
  </a>
  <a href="#" {{action "magnets"}} class="nav-link {{if model.noMagnet 'disabled'}}">
    <i class="fa fa-magnet fa-fw fa-3x"></i>
  </a>
{{/info-bar}}