{{#if model}}
  {{episode-list
    episodes=model
    play="playEpisode"
    magnets="displayMagnetsView"
    seen="markAsSeen"
    remove="removeMagnet"
    download="downloadMagnet"
    reload="reloadMagnet"
  }}
{{else}}
  {{#no-episodes}}
    {{#if isUpdating}}
      <i class="fa fa-spinner fa-spin fa-5x"></i>
    {{else}}
      Yay, you don't have any unseen episodes.
      <a href="#" {{action "updateAll"}}>
        Try reloading.
      </a>
    {{/if}}
  {{/no-episodes}}
{{/if}}

{{outlet}}