<style type="text/css">
  i.loading.false {
    visibility: hidden;
  }

  i.loading.true {
    display: inline;
  }
</style>

<div class="well">
  <button class="btn btn-default btn-sm">Login</button>
  <button {{action "reloadAll"}} class="btn btn-default btn-sm">Reload</button>
  <button class="btn btn-default btn-sm">Seen</button>
  <button {{action "updateAll"}} class="btn btn-default btn-sm">Update</button>
  <button class="btn btn-default btn-sm">Removed</button>
</div>

<div class="well">
  <table class="table">
    <tbody>
      {{#each episode in episodes}}
        <tr>
          <td>{{episode.show}}</td>
          <td>{{episode.what}}</td>
          <td>{{episode.formatCreatedAt}}</td>
          <td>
            <div class="pull-right">
              <button {{action "download" episode}} class="btn btn-sm btn-default" disabled={{episode.noMagnet}} target="_blank">
                <i class="fa fa-download"></i>
              </button>
              <button class="btn btn-sm btn-default" {{action "remove" episode}}>
                <i class="fa fa-times"></i>
              </button>
              <button class="btn btn-sm btn-default" {{action "seen" episode}}>
                <i class="fa fa-eye"></i>
              </button>
              <button class="btn btn-sm btn-default" {{action "reload" episode}}>
                <i class="fa fa-refresh"></i>
              </button>

              <i class="fa fa-spinner spin {{episode.isLoading}} loading"></i>
            </div>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>