<div class="wrapper">
  <header class="main-header">
    {{#link-to "current" class="logo"}}
      <b>Never</b>Again
    {{/link-to}}
    <nav class="navbar navbar-static-top" role="navigation">
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown messages-menu">
            <a href="#" {{action "updateAll"}}>
              {{#if isUpdating}}
                <i class="fa fa-spinner"></i>
              {{else}}
                <i class="fa fa-star"></i>
              {{/if}}
            </a>
          </li>
          <li class="dropdown notifications-menu">
            <a href="#" {{action "reloadAll"}}>
              {{#if isReloading}}
                <i class="fa fa-spinner"></i>
              {{else}}
                <i class="fa fa-refresh"></i>
              {{/if}}
            </a>
          </li>

          <li class="dropdown notifications-menu">
            <a href="#" {{action "clearDB"}}>
              <i class="fa fa-flash"></i>
            </a>
          </li>
          {{#if session.currentUser}}
            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="hidden-xs">oleander</span>
              </a>
              <ul class="dropdown-menu">
                <li class="user-footer">
                  <div class="pull-left">
                    <a href="#" class="btn btn-default btn-flat">Profile</a>
                  </div>
                  <div class="pull-right">
                    <a href="#" {{action "logout"}} class="btn btn-default btn-flat">
                      <i class="fa fa-share"></i>
                      Sign out
                    </a>
                  </div>
                </li>
              </ul>
            </li>
          {{else}}
            <li class="dropdown user user-menu">
              {{#link-to "login"}}
                <span class="hidden-xs">Login</span>
              {{/link-to}}
            </li>
          {{/if}}
        </ul>
      </div>
    </nav>
  </header>
  <aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu">
        <li class="header">MY EPISODES</li>
        <li>
          {{#link-to "current"}}
            <i class="fa fa-star"></i>
            New
          {{/link-to}}
        </li>
        <li>
          {{#link-to "seen"}}
            <i class="fa fa-eye"></i>
            Seen
          {{/link-to}}
        </li>

        <li>
          {{#link-to "removed"}}
            <i class="fa fa-times"></i>
            Deleted
          {{/link-to}}
        </li>
      </ul>
    </section>
  </aside>

  <div class="content-wrapper">
    {{#if errorMessage}}
      <div class="alert alert-warning">
        <button type="button" {{action "closeErrorMessage"}} class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        {{errorMessage}}
      </div>
    {{/if}}

    {{#if successMessage}}
      <div class="alert alert-success">
        <button type="button" {{action "closeSuccessMessage"}} class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        {{successMessage}}
      </div>
    {{/if}}

    loggedIn={{session.currentUser.id}}


    {{outlet}}
  </div>
</div>