<div class="well">
  {{#if currentUser}}
    <button {{action "logout"}} class="btn btn-default btn-sm">
      <i class="fa fa-share"></i>
      Logout
    </button>
  {{else}}
    {{#link-to "login" class="btn btn-default btn-sm"}}
      <i class="fa fa-lock"></i>
      Login
    {{/link-to}}
  {{/if}}

  {{#link-to "seen" class="btn btn-default btn-sm"}}
    <i class="fa fa-eye"></i>
    Seen episodes
  {{/link-to}}

  {{#link-to "removed" class="btn btn-default btn-sm"}}
    <i class="fa fa-times"></i>
    Removed episodes
  {{/link-to}}

  <button {{action "updateAll"}} disabled={{deactivateUpdateAll}} class="btn btn-default btn-sm">
    <i class="fa fa-refresh"></i>
    Fetch new episodes
  </button>

  <button {{action "reloadAll"}} disabled={{deactivateReloadAll}} class="btn btn-default btn-sm">
    <i class="fa fa-refresh"></i>
    Reload magnets
  </button>

  <div class="pull-right">
    {{#if showAll}}
      {{#link-to "current" class="btn btn-default btn-sm"}}
        <i class="fa fa-star"></i>
        Current episodes
      {{/link-to}}
    {{/if}}

    <button {{action "clearDB"}} class="btn btn-default btn-sm">
      <i class="fa fa-flash"></i>
    </button>
  </div>
</div>

{{outlet}}