<div class="wrapper">
  <header class="main-header">
    {{#link-to "user.index" class="logo"}}
      <b>Show</b>Time
    {{/link-to}}
    <nav class="navbar navbar-static-top" role="navigation">
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          {{outlet "menu"}}

          {{#if currentUser.isLoggedIn}}
            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="hidden-xs">
                  {{#if currentUser.username}}
                    {{currentUser.username}}
                  {{else}}
                    Unknown
                  {{/if}}
                </span>
              </a>
              <ul class="dropdown-menu">
                <li class="user-footer">
                  <div class="pull-left">
                    <a href="#" class="btn btn-default btn-flat">Profile</a>
                  </div>
                  <div class="pull-right">
                    <a href="#" {{action "logout"}} class="btn btn-default btn-flat">
                      <i class="fa fa-share"></i>
                      Sign out
                    </a>
                  </div>
                </li>
              </ul>

              <ul class="dropdown-menu">
                <li class="user-header">
                  <img src="{{currentUser.avatar}}" class="img-circle" alt="User Image">
                  <p>
                    {{currentUser.username}}
                    <small>{{currentUser.joinedAt}}</small>
                  </p>
                </li>
                <li class="user-footer">
                  <div class="pull-left">
                    <a href="#" {{action "reloadProfile"}} class="btn btn-default btn-flat">
                      {{#if isReloadingProfile}}
                        Loading...
                      {{else}}
                        Reload
                      {{/if}}
                    </a>
                  </div>
                  <div class="pull-right">
                    <a href="#" {{action "logout"}} class="btn btn-default btn-flat">
                      Sign out
                    </a>
                  </div>
                </li>
              </ul>
            </li>
          {{else}}
            <li class="dropdown user user-menu">
              {{#link-to "guest.login"}}
                <span class="hidden-xs">Login</span>
              {{/link-to}}
            </li>
          {{/if}}
        </ul>
      </div>
    </nav>
  </header>
  <aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu">
        <li class="header">MY EPISODES</li>
        <li>
          {{#link-to "user.index"}}
            <i class="fa fa-star"></i>
            New
          {{/link-to}}
        </li>
        <li>
          {{#link-to "user.seen"}}
            <i class="fa fa-eye"></i>
            Seen
          {{/link-to}}
        </li>

        <li>
          {{#link-to "user.removed"}}
            <i class="fa fa-times"></i>
            Deleted
          {{/link-to}}
        </li>
      </ul>
    </section>
  </aside>

  <div class="content-wrapper">
    {{#if errorMessage}}
      <div class="alert alert-warning">
        <button type="button" {{action "closeErrorMessage"}} class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        {{errorMessage}}
      </div>
    {{/if}}

    {{#if successMessage}}
      <div class="alert alert-success">
        <button type="button" {{action "closeSuccessMessage"}} class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        {{successMessage}}
      </div>
    {{/if}}
    {{outlet}}
  </div>
</div>